<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/anecdote_form' %>
      </section>
    </aside>
  </div>
<% else %>
<div class="center hero-unit">
  <h1>Welcome to the Home page</h1>

  <h2>
    This is the home page for the Writters App
  </h2>

  <%= link_to "Inscription!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>